---
---

.lang-flag-block {
  text-align: center;
  padding-bottom: 1em !important;

  .lang-flag {
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    padding: 5px 5px;

    &::before {
      content:'\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
      background-size: 21px 16px;
      background-repeat: no-repeat;
      margin: 0px 2px;
      border: solid 1px #726F6F;
    }

    &.ru::before {
      background-image: url('/assets/ru.svg');
    }
    &.en::before {
      background-image: url('/assets/gb.svg');
    }
  }
}

article.node-article {
  .content p {
    text-align: justify;
  }
  header .title {
    text-align: justify;
  }
}

// Extends `.socila-profile ul li` from style.css
.social-profile ul li {
  &.slideshare a {
    background: url('/assets/slideshare.png') no-repeat transparent;

    &:hover {
      background-color:rgb(5,121,182);
    }
  }
  &.github a {
    background: url('/assets/github.png') no-repeat transparent;

    &:hover {
      background-color:rgb(245,245,245);
    }
  }
}
