---
---

.lang-flag-block {
  text-align: center;
  padding-bottom: 1em !important;

  .lang-flag {
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    padding: 5px 5px;

    &::before {
      content:'\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
      background-size: 21px 16px;
      background-repeat: no-repeat;
      margin: 0px 2px;
      border: solid 1px #726F6F;
    }

    &.ru::before {
      background-image: url('/assets/ru.svg');
    }
    &.en::before {
      background-image: url('/assets/gb.svg');
    }
  }
}

article.node-article {
  .content p {
    text-align: justify;
  }
  header .title {
    text-align: justify;
  }
}

// Extends `.socila-profile ul li` from style.css
.social-profile ul li {
  &.slideshare a {
    background: url('/assets/slideshare.png') no-repeat transparent;
    &:hover {background-color:rgb(5,121,182);}
  }
  &.github a {
    background: url('/assets/github.png') no-repeat transparent;
    &:hover {background-color:rgb(245,245,245);}
  }
}

.content.p-justify {
  text-align: justify;
}

.person-list {
  display: block;
  margin: 2em 0;

  li.person {
    display: inline-block;
    width: 30%;
    min-width: 13em;
    padding: 0.4em 0.4em 0 0.4em;
    margin: 0.1em 0 0.1em 0.1em;
    border: 1px #E0E0E0 solid;
    list-style-type: none;
    text-align: right;

    img {
      display: inline-block;
      float: left;
      width: 5em;
    }
    span {vertical-align: top; }
    a {
      display: inline-block;
      width: 100%;
      text-decoration: underline;
    }
  }
}

.twitter-timeline {
  display: block;
  width: 100% !important;
}
