{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}

<div id="site-logo">
  <a href="{{ site.url }}" title="Home">
    <img src="{{ site.url }}/assets/logo.png" alt="Home"/>
  </a>
</div>

<div class="social-profile">
    <ul>
        <li class="facebook">
            <a target="_blank" title="Laboratory ISST @ Facebook" href="https://www.facebook.com/ISSTLaboratory">
            Laboratory ISST @ Facebook
            </a>
        </li>
        <li class="twitter">
            <a target="_blank" title="Laboratory ISST @ Twitter" href="https://twitter.com/ailabitmo">
            Laboratory ISST @ Twitter
            </a>
        </li>
        <li class="slideshare">
            <a target="_blank" title="Laboratory ISST @ Slideshare" href="http://www.slideshare.net/ailabifmo">
            Laboratory ISST @ Slideshare
            </a>
        </li>
        <li class="github">
            <a target="_blank" title="Laboratory ISST @ Github" href="https://github.com/ailabitmo">
            Laboratory ISST @ Github
            </a>
        </li>
    </ul>
</div>
<nav id="navigation" role="navigation">
    <div id="main-menu">
        <ul class="menu">
          {% for item in site.data.nav[locale] %}
            <li class="leaf {{ item_class }}">
              <a href="{{ item[0] }}"
                {% if item[0] == current %}class="active"{% endif %}
              >
              {{ item[1] }}</a>
            </li>
          {% endfor %}
        </ul>
    </div>

</nav>
