{% assign current = page.url | downcase | replace: 'index.html' ''%}
{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}

<div id="site-logo">
  <a href="{{ site.url }}" title="Home">
    <img src="{{ site.url }}/assets/logo.png" alt="Home"/>
  </a>
  <div style="display:inline-block; text-align:center; vertical-align: 65%;font-size: 130%;">
   {{ site.data.locales.name[page.locale] }}
  </div>
</div>

<div class="social-profile">
    <ul>
        <li class="facebook">
            <a target="_blank" title="ISST Laboratory @ Facebook" href="https://www.facebook.com/ISSTLaboratory">
            ISST Laboratory @ Facebook
            </a>
        </li>
        <li class="twitter">
            <a target="_blank" title="ISST Laboratory @ Twitter" href="https://twitter.com/ailabitmo">
            ISST Laboratory @ Twitter
            </a>
        </li>
        <li class="slideshare">
            <a target="_blank" title="ISST Laboratory @ Slideshare" href="http://www.slideshare.net/ailabifmo">
            ISST Laboratory @ Slideshare
            </a>
        </li>
        <li class="github">
            <a target="_blank" title="ISST Laboratory @ Github" href="https://github.com/ailabitmo">
            ISST Laboratory @ Github
            </a>
        </li>
    </ul>
</div>

<nav id="navigation" role="navigation">
    <div id="main-menu">
        <ul class="menu">
          {% for item in site.data.nav[locale] %}
            <li class="leaf {{ item_class }}">
              <a href="{{ item[0] }}"
                {% if item[0] == current %}class="active"{% endif %}
              >
              {{ item[1] }}</a>
            </li>
          {% endfor %}
        </ul>
    </div>
</nav>
