{% assign current = page.url | downcase | replace: 'index.html' ''%}
{% assign current_noloc = current | replace: "/en/", "" | replace: "/ru/", "" %}
{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}

{% unless site.authorized_locales contains locale %}
    {% assign locale = site.default_locale %}
{% endunless %}

<div id="site-logo">
  <a href="{{ site.url }}" title="Home">
    <img src="{{ site.url }}/assets/logo.png" alt="Home"/>
  </a>
  <a href="{{ site.data.locales[locale].switch_lang_url }}{{ current_noloc }}" class="switch-locale">
    <span>{{ site.data.locales[locale].switch_lang_message }}</span>
  </a>
</div>

<div class="social-profile">
    <ul>
        <li class="facebook">
            <a target="_blank" title="Impact Theme in Facebook" href="https://www.facebook.com/ISSTLaboratory">Impact
                Theme Facebook </a>
        </li>
        <li class="twitter">
            <a target="_blank" title="Impact Theme in Twitter" href="https://twitter.com/ailabitmo">Impact
                Theme Twitter </a>
        </li>
        <!--<li class="google-plus">-->
        <!--<a target="_blank" title="Impact Theme in Google+"-->
        <!--href="https://plus.google.com/u/0/109064032428497406718">Impact Theme Google+ </a>-->
        <!--</li>-->
    </ul>
</div>
<nav id="navigation" role="navigation">
    <div id="main-menu">
        <ul class="menu l_tinynavNaN">
            {% assign class = "first" %}
            {% assign last_index = site.data.locales.nav_length | minus: 1 %}
            {% assign i = 0 %}

            {% for menu_item in site.data.locales[locale].nav %}
                <li class="leaf {{class}}"><a {% if menu_item[0] == current %}class="active"{% endif %}
                                              href="{{menu_item[0]}}">{{menu_item[1]}}</a></li>
                {% assign i = i | plus: 1 %}
                {% if i == last_index %}
                    {% assign class = 'last' %}
                {% else %}
                    {% assign class = '' %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

</nav>
