<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8"/>
<link rel="shortcut icon" href="{{ site.url }}/assets/favicon.ico"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

<title>{{ site.data.locales[page.locale].title }}</title>

<link type="text/css" rel="stylesheet" href="{{ site.url }}/css/style3.css" media="all"/>
<link type="text/css" rel="stylesheet" href="{{ site.url }}/css/style2.css" media="all"/>
<link type="text/css" rel="stylesheet" href="{{ site.url }}/css/style.css" media="all"/>
<link type="text/css" rel="stylesheet" href="{{ site.url }}/css/main.css" media="all"/>

<script src="{{ site.url }}/js/widgets.js" id="twitter-wjs"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/jquery-cycle-2.9.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/jquery-once-1.2.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/tinynav-1.03.js"></script>
