{% assign current = page.url | downcase | replace: 'index.html' ''%}
{% assign current_noloc = current | replace: "/en/", "" | replace: "/ru/", "" %}
{% capture locale %}{{ page.url | truncate: 3, "" | remove: "/" }}{% endcapture %}

{% unless site.authorized_locales contains locale %}
{% assign locale = site.default_locale %}
{% endunless %}

<div class="region region-sidebar-first">
  <div class="block block-block lang-flag-block">
      <a class="lang-flag ru" href="{{ site.url }}/ru/{{current_noloc}}">Русский</a>
      <a class="lang-flag en" href="{{ site.url }}/en/{{current_noloc}}">English</a>
  </div>

  <!-- Twitter Timeline -->
  <a class="twitter-timeline" href="https://twitter.com/ailabitmo"
      data-widget-id="574965411114053632"
      height="400px">Tweets by @ailabitmo
    </a>
  <script>
    !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
      if(!d.getElementById(id)){
        js=d.createElement(s);
        js.id=id;
        js.src=p+"://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
      }
    }(document,"script","twitter-wjs");
  </script>

  <!--
  {% if site.posts | where: 'lang', locale %}
  <div id="block-block-18" class="block block-block">
      <h2>{{ site.data.locales[page.locale].latest_posts }}</h2>
      <div class="content">
          <ul>
          {% for post in site.posts | where: "lang", locale %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
          </ul>
      </div>
  </div>
  {% endif %}
  -->

</div>
