---
layout: base
title:
  en: Blog
  ru: Блог
---
<h1 class="page-title">{{ page.title[page.locale] }}</h1>

<div class="content">
    {% for post in site.posts | where: "locale", locale %}
      <article class="node node-article node-promoted node-teaser clearfix">
        <header>
          <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <div class="content">
          {{ post.excerpt }}
        </div>
        <footer>
          <ul class="links inline">
            <li class="node-readmore first">
              <a href="{{ post.url }}">{{ site.data.locales.read_more[page.locale] }}</a>
            </li>
          </ul>
        </footer>
      </article>
    {% endfor %}
</div>
