---
layout: base
---
<h1>{{site.data.locales[page.locale].page_titles.blog}}</h1>

<div class="content">
    {% for post in site.posts | where: "lang", locale %}
      <article class="node node-article node-promoted node-teaser clearfix">
        <header>
          <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <div class="content">
          {{ post.excerpt }}
        </div>
        <footer>
          <ul class="links inline">
            <li class="node-readmore first">
              <a href="{{ post.url }}">Read more</a>
            </li>
          </ul>
        </footer>
      </article>
    {% endfor %}
</div>
