---
layout: base
---

{% if page.locale == 'ru' %}
  <div class="content p-justify">
    <p>Здесь можно узнать о том, какие проекты ведутся в лаборатории, получить информацию о нашей команде и партнерах, посмотреть на список ближайших событий и прочесть последнии новости.</p>
    <p>Мы...</p>
    <p>Проводим прикладные научные исследования в области Semantic Web, Ontology Engineering, Knowledge Engineering, Linked Data, Open Data, Internet of Things, Smart Spaces и других.</p>
    <p>Организуем конференцию <a href="http://kesw.ru">Knowledge Engineering and Semantic Web (KESW)</a> и ISST Colloquium.</p>
  </div>
{% else %}
        Home page will be here…
{% endif %}
