---
layout: base
title:
  en: Team
  ru: Сотрудники
---
<h1 class="page-title">{{ page.title[page.locale] }}</h1>

<div>
  <ul class="person-list">
{% for person in site.data.list_team %}
    <li class="person">
        <img
        {%if person.photo %} src="{{ person.photo}}"
        {% else %}
          src="/assets/people/defaultIcon.png"
        {% endif %}
        />
        <span>{{ person.name[page.locale] }}</span>
        <a href="/{{ page.locale }}/{{ person.details_url }}">Contact details</a>
    </li>
{% endfor %}
  </ul>
</div>
