---
layout: base
---
<h1 class="page-title">{{site.data.locales[page.locale].page_titles.team}}</h1>

{% for person in site.data.list_team %}
    {% if person.name[page.locale] %}<h4>{{ person.name[page.locale] }}</h4>{% endif %}
    <p>
        {% if person.position[page.locale] %}{{ person.position[page.locale] }}{% endif %}
        {% if person.degree[page.locale] %}<br />{{ person.degree[page.locale] }}{% endif %}
        {% if person.workplace[page.locale] %}<br />{{ person.workplace[page.locale] }}{% endif %}
        {% if person.email %}<br />{{ person.email }}{% endif %}
        {% if person.photo %}<br />{{ person.photo }}{% endif %}
    </p>
{% endfor %}
