---
layout: base
title:
  en: Team
  ru: Сотрудники
former_staff:
  en: Former staff
  ru: Бывшие сотрудники
contacts:
  en: Contacts details
  ru: Контакты
---
<h1 class="page-title">{{ page.title[page.locale] }}</h1>

<div>
  <ul class="person-list">
{% for person in site.data.list_team %}{% if person.former != true %}
    <li class="person">
        <img
        {%if person.photo %} src="{{ person.photo}}"
        {% else %}
          src="/assets/people/defaultIcon.png"
        {% endif %}
        />
        <span>{{ person.name[page.locale] }}</span>
        <a href="{{ person.details_url }}">{{ page.contacts[page.locale] }}</a>
    </li>
{% endif %}{% endfor %}
  </ul>
</div>
<h2>{{ page.former_staff[page.locale] }}</h2>
<div>
{% for person in site.data.list_team %}{% if person.former == true %}
  {{ person.name[page.locale] }}{% if forloop.last == false%},{% endif %}
{% endif %}{% endfor %}
</div>
</br>
